---

:saml_service:
  :uri: http://localhost:8080/entities

:groups:
  :aaf:
    - [discovery, aaf]
  :edugain:
    - [discovery, aaf]
    - [discovery, edugain]

:environment:
  :name: 'Test Environment'
  :status_uri: 'http://status.test.aaf.edu.au'

:tag_groups:
  - :name: 'Australia'
    :tag: 'au'
  - :name: 'New Zealand'
    :tag: 'nz'
  - :name: 'International'
    :tag: '*'
