---

:saml_service:
  :uri: http://localhost:8080/entities

:groups:
  :aaf:
    - [discovery, aaf]
  :edugain:
    - [discovery, aaf]
    - [discovery, edugain]

:environment:
  :name: 'test'
  :status_uri: 'http://status.test.aaf.edu.au'
