//= require semantic-ui/dist/semantic

$form_left_padding: 0px !important;
$mobile-max-width: 420px;
$tablet-max-width: 767px;

@media only screen and (max-width: $tablet-max-width) {
  #organisations_near_me_column {
    padding-top: $form_left_padding;
  }
}

@media only screen and (max-width: $mobile-max-width) {
  #organisations_near_me_button {
    width: 100%;
  }

  #select_organisation_button {
    width: 100%;
  }

  #sp_header {
    padding-left: 0px;
  }
}

#search_options {
  display: none;
}

#select_organisation_button {
  display: none;
}

#tab_menu {
  min-height: 0;
}

#tab_menu a {
  display: none;
}

#organisations_near_me_column {
  padding-left: $form_left_padding
}

#search_column {
  padding-left: $form_left_padding
}


#idp_selection_table {
  border: 0px !important;
}

#idp_selection_table thead {
  white-space: nowrap;
  display: none;
}

#idp_selection_table thead tr {
  white-space: nowrap;
  display: none;
}

#idp_selection_table thead th {
  white-space: nowrap;
  display: none;
}

#idp_selection_table tbody tr {
  border-right: 0 !important;
  border-left: 0 !important;
}

#idp_selection_table tbody td {
  border-right: 0 !important;
  border-left: 0 !important;
}

#scroller {
  padding-top: 0px;
}

.distance {
  display: none;
}

.select_organisation_input {
  display: none;
}

