$form_left_padding: 0px !important;
$form_right_padding: 0px !important;
$mobile-max-width: 420px;
$tablet-max-width: 767px;

@media only screen and (max-width: $mobile-max-width) {

  #sp_header {
    padding-left: 0px;
  }

  #sp_header_logo {
    padding-right: 0.5em;
  }

  #tab_menu a.can_hide {
    display: none;
  }

  #sp_header_links_column {
    padding-top: 0px !important;
  }

  #status_links_column {
    padding-top: 0px !important;
  }
}

@media only screen and (max-width: $tablet-max-width) {
  #sp_header_links_column {
    padding-top: 0px !important;
  }

  #status_links_column {
    padding-top: 0px !important;
  }
}

img {
  border-style: none;
}

a {
  color: #297abf;
}

h1.ui.header {
  font-size: 1.714rem;
}

#search_column {
  padding-left: $form_left_padding;
  padding-right: $form_right_padding;
}

#idp_selection_table {
  border: 0px !important;
}

#idp_selection_table thead {
  white-space: nowrap;
  display: none;
}

#idp_selection_table thead tr {
  white-space: nowrap;
  display: none;
}

#idp_selection_table thead th {
  white-space: nowrap;
  display: none;
}

#idp_selection_table tbody tr {
  border-right: 0 !important;
  border-left: 0 !important;
}

#idp_selection_table tbody tr.active {
  background-color: #F0F0F0 !important;
}

#idp_selection_table tbody td {
  border-right: 0 !important;
  border-left: 0 !important;
}

#idp_reset_selection_table tbody tr {
  border-right: 0 !important;
  border-left: 0 !important;
}

#idp_reset_selection_table tbody td {
  border-right: 0 !important;
  border-left: 0 !important;
  padding-left: 1em;
  padding-right: 1em;
}

#scroller {
  padding-top: 0px;
  height: 250px;
  overflow-y: auto;
}

#sp_header_description {
  max-width: 26em;
  padding-bottom: 0.5em;
}

#sp_header_logo {
  vertical-align: top;
}

#sp_header_links {
  margin-top: 0em;
  padding-bottom: 0.3em;
}

#search_options {
  display: none;
}

#select_organisation_button {
  display: none;
}

#tab_menu {
  min-height: 0;
  height: 0;
}

#aaf_logo {
  float: left;
  padding-right: 0.5em;
}

#aaf_logo_content {
  white-space: nowrap;
}

#help_link {
  outline: 0;
  display: none;
}

.btn-accessible {
  color: #ffffff !important;
  background-color: #007bc5 !important;
}

.idp_selection_table_name_column {
  width: 80%;
}

.idp_selection_logo_column {
  width: 20%;
}

.list {
  margin-top: 0.2em;
}

.ui.modal {
  display: none;
}

.header {
  font-weight: bold;
}

.ui.text.container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}
